body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

div {
  display: block;
}

header {
  display: flex;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: black;
  z-index: 1;
  top: 0;
}

nav span {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
}

.logo {
  padding-left: 10px;
}

a {
  color: inherit;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 69px;
  height: 700px;
  width: 1200px;
  background-image: url("../../resources/images/img-mission-background.jpg");
}

.banner {
  width: 100%;
  height: auto;
  background-color: black;
}

.featured-tea {
  margin-top: 100px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.teas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tea {
  margin: 10px 15px;
}

h2, h4 {
  margin: 10px 0;
}

#Locations {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 1200px;
  margin-top: 50px;
  align-items: center;
  background-image: url("../../resources/images/img-locations-background.jpg");
}

.location {
  width: 300px;
  height: auto;
  margin: 15px 20px;
  background-color: black;
  opacity: 1;
}

.location p {
  margin-bottom: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row h2 {
  margin-top: 100px;
  font-weight: bold;
}

.title {
  text-align: center;
  height: 200px;
}

.title h5 {
  margin-top: 35px;
}

.copyright {
  text-align: left;
  margin-left: 20px;
}
